.gallery_container {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery_picture {
    margin-bottom: 15px;
}

.center_align {
    text-align: center;
    margin-bottom: 15px;
}

#chart_container {
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#vac_number_container,#vac_salary_container {
    height: 350px;
    margin-bottom: 50px;
}

.plot_info {
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

.plot_info_item {
    float: left;
    padding: 10px;
}

body {
    font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
    font-weight: 300;
    font-size: 100%;
    color: #000;
}

.right, .left {
    float: left;
}

.right { padding-left: 20px; width: 10%; }
.left {width: 76%; }

.bottom {width: 100%; margin: 0 auto; overflow: auto;}

.pagecenter {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 0px 0;
    border-radius: 8px;
    box-shadow: #ccc 0px 2px 5px;
    overflow: auto;
}
.date_link {text-decoration: none;}
a:link    { color: #555 }  /* unvisited links */
a:visited { color: #555 }  /* visited links   */
a:hover   { color: #111; text-decoration: underline; }  /* user hovers     */
a:active  { color: #000 }  /* active links    */
