<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
<title>Vacancy statistics</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta http-equiv="Content-Type" content=
"text/html; charset=us-ascii">
<link href="/static/favicon.ico" rel="shortcut icon" type=
"image/x-icon">
<script src=
"http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"
  type="text/javascript">
</script>
<script src="http://code.highcharts.com/highcharts.js" type=
"text/javascript">
</script>
<script type="text/javascript" src="/static/js/tag_stat.js">
</script>
</head>

<body>
<div class='pagecenter'>
    <div class='gallery_container center_align'>
        <h1>Lang: {{tag_name}} <a class='date_link' href='/'>[на главную]</a> </h1>
        <button class='later'>later</button>
        <button class='earlier'>earlier</button>
    </div>
    <div class='plot_info'>
        <div class="plot_info_item" id="cnt"></div>
        <div class="plot_info_item" id="date"></div>
        <div class="plot_info_item" id="date_s"></div>
    </div>

    <div class='bottom'>
        <div class='right'>
            Данные: </br>
            {% for timestamp, human_date in dates %}
            <a class='date_link' href="/tag/?tag={{tag_name|safe}}&timestamp={{timestamp}}"> {{human_date}} </a> <br>
            {% endfor %}
        </div>
        <div class='left'>
            <div class='plot_info'>
                <div class="plot_info_item" id="cnt"></div>
                <div class="plot_info_item" id="date"></div>
                <div class="plot_info_item" id="date_s"></div>
            </div>

            <div id="chart_container">
                <div id="vac_salary_histogram"></div>
                <div id="vac_salary_hist_container"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
